body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    color: #000000;  
    margin: 0px;
    height: 100%;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 5px solid black; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
}

a:link, a:visited {
  color: white;
  font-weight : normal;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: white;
  font-weight : bolder;
  text-decoration: none;
}