<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">
                <center>                    
                    <h:form>                        
                        <f:view id="centro"> 
                            <h2 style="font-size: 35px;" >Acta</h2>  
                            <section id="formu">                                  
                            <h:panelGrid columns="4">
                                <p:outputLabel value="Ciudad y fecha:"/>
                                <p:inputText type="date"/>
                                <p:outputLabel style="margin-left: 50px;" value="Hora Inicio:"/>
                                <p:inputText type="time"/>
                                <p:outputLabel value="Hora Fin:"/>
                                <p:inputText type="time"/>
                                <p:outputLabel style="margin-left: 50px;" value="Lugar:"/>
                                <p:inputText value="0"/>                                
                                <p:outputLabel value="Direccion general/ Regional/ Centro:"/>
                                <p:inputText type="number" value="0"/>
                                <p:outputLabel style="margin-left: 50px;" value="Temas:"/>
                                <p:inputTextarea value="0"/>
                                <p:outputLabel value="Objetivo(s) de la reunion:"/>
                                <p:inputTextarea value="0"/>
                                <p:outputLabel style="margin-left: 50px;" value="Desarrollo de la reunion:"/>
                                <p:inputTextarea value="0"/>                                
                                <p:outputLabel value="Conclusiones:"/>
                                <p:inputTextarea value="0"/>
                                <p:outputLabel value="Compromisos:"/>
                                <p:inputTextarea value="0"/>
                                <p:outputLabel value="Asistentes:"/>
                                <p:inputTextarea value="0"/>
                                <p:outputLabel value="Invitados(Opcional):"/>
                                <p:inputTextarea value="0"/>
                            </h:panelGrid><br/>
                                <p:commandButton id="but" style="padding: 1px;" value="Registrar" action="Articulacion.xhtml"/>
                            </section>
                        </f:view>
                </h:form>
                </center>
            </ui:define>

        </ui:composition>

    </body>
</html>
