<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">
                <center>                    
                    <h:form>                        
                        <f:view id="centro"> 
                            <h2 style="font-size: 35px;" >Aprendiz</h2>  
                            <section id="formu">                                  
                            <h:panelGrid columns="4">
                                <p:outputLabel value="Tipo Identificacion"/>
                                <h:selectOneMenu id="consoe" value="#{controlAprendiz.us.fkTipoId}" style="width:259px">
                                    <f:selectItem itemLabel="Selecciona uno" itemValue="" />
                                    <f:selectItem itemLabel="Tarjeta de Identidad" itemValue="" />
                                    <f:selectItem itemLabel="Cedula de ciudadania" itemValue="PS4" />
                                    <f:selectItem itemLabel="Cedula extranjera" itemValue="PS4" />
                                </h:selectOneMenu>
                                <p:outputLabel style="margin-left: 50px;" value="Identificacion"/>
                                <p:inputText value="#{controlAprendiz.us.identificacion}"/>
                                <p:outputLabel value="Nombres"/>
                                <p:inputText type="text" value="#{controlAprendiz.us.nombre_Aprendiz}"/>
                                <p:outputLabel style="margin-left: 50px;" value="Apellidos"/>
                                <p:inputText value="#{controlAprendiz.us.apellido_Aprendiz}"/>                                
                                <p:outputLabel value="Telefono"/>
                                <p:inputText type="number" value="#{controlAprendiz.us.telefono}"/>
                                <p:outputLabel style="margin-left: 50px;" value="Celular"/>
                                <p:inputText value="#{controlAprendiz.us.celular}"/>
                                <p:outputLabel value="Direccion"/>
                                <p:inputText value="#{controlAprendiz.us.direccion}"/>
                                <p:outputLabel style="margin-left: 50px;" value="Correo"/>
                                <p:inputText value="#{controlAprendiz.us.correo}"/>                                
                                <p:outputLabel value="Instiucion"/>
                                <p:selectOneMenu id="console" value="#{controlAprendiz.us.fkColegio}" style="width:259px">
                                    <f:selectItem itemLabel="Selecciona uno" itemValue="" />
                                    <f:selectItem itemLabel="Aldemar" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="Enrique" itemValue="PS4" />
                                </p:selectOneMenu>
                                <p:outputLabel style="margin-left: 50px;" value="Ficha"/>
                                <p:selectOneMenu id="cnsle" value="#{controlAprendiz.us.fkFicha}" style="width:259px">
                                    <f:selectItem itemLabel="Selecciona uno" itemValue="" />
                                    <f:selectItem itemLabel="1124806" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="1124809" itemValue="PS4" />
                                </p:selectOneMenu>
                                <p:outputLabel value="Entidad"/>
                                <p:selectOneMenu id="cnsole" value="#{controlAprendiz.us.fkEntidad}" style="width:259px">
                                    <f:selectItem itemLabel="Selecciona uno" itemValue="" />
                                    <f:selectItem itemLabel="Ezgo S.A" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="Maderas S.A" itemValue="PS4" />
                                </p:selectOneMenu>
                                <p:outputLabel style="margin-left: 50px;" value="Estado"/>
                                <p:selectOneMenu id="conole" value="#{controlAprendiz.us.estado_Aprendiz}" style="width:259px">
                                    <f:selectItem itemLabel="Selecciona uno" itemValue="" />
                                    <f:selectItem itemLabel="Activo" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="Inactivo" itemValue="PS4" />
                                </p:selectOneMenu>
                            </h:panelGrid><br/>
                                <p:commandButton id="but" style="padding: 1px;" value="Registrar" action=""/>
                            </section>
                        </f:view>
                </h:form>
                </center>
            </ui:define>

        </ui:composition>

    </body>
</html>
