<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    

    <body>

        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">
                <center>
                <h1 id="a">Articulación con la media tecnica<br/></h1>
		<p id="centro">Centro de Gestión de Mercados, Logística y Teleinformatica</p>
		<img id="sena" src="http://repositorio.sena.edu.co/sitios/modisteria_conocimientos_basicos/img/logo_sena_negro.png"/>
                </center>
            </ui:define>

        </ui:composition>

    </body>
</html>
