<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>

        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">
               <center><section id="fondo">
                    <h2 id="hh">Bitacora</h2>
                    <article id="g">
                    <article id="f">
                            <h3 id="con">Consulte por:</h3>
                            <center><section id="co">
                                    <label>Aprendiz:</label>
                                    <input type="text" name="Aprendiz" placeholder="Nombre"/>
                                    <label>Bitacora:</label>
                                    <input type="number" name="Bitacora" placeholder="Codigo"/>
                            </section></center>
                    </article>
                              <center><button id="agregar"> Buscar Bitacora</button></center>
                              <article id="doc">
                                  <iframe frameborder="0" height="500px" src="imagenes/bitacora.pdf" width="900px">Esto es un documento de <a target='_blank' href='http://office.com'>Microsoft Office</a> incrustado con tecnología de <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
                              </article>
                      </article>
                </section></center>
            </ui:define>

        </ui:composition>

    </body>
</html>
