<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet name="css/style.css"/> 
    </h:head>
    <body>
        <center>
        <h1 id="ar">Articulación con la media tecnica</h1>
        <img style="width: 10%;" src="http://repositorio.sena.edu.co/sitios/albanileria_restauracion_edificaciones/img/logo_sena_negro.png"/>
        
        <h:form>
            <f:view>
                <section id="login">
                    <p:outputLabel style="font-family: monotype corsiva; font-size: 40px;" value="Usuario"/><br/>
                    <p:inputText style="width: 550px; height: 30px; font-family: monotype corsiva; border-radius: 20px; padding: 10px;" id="v" value="0"/><br/><br/>
                    <p:outputLabel style="font-family: monotype corsiva; font-size: 40px;" value="Contraseña"/><br/>
                    <p:inputText style="width: 550px; height: 30px; font-family: monotype corsiva; border-radius: 20px; padding: 10px;" value="0"/><br/><br/><br/>
                    <center><p:commandButton style="width: 200px; height: 50px; font-family: monotype corsiva; border-radius: 20px;" value="Ingresar" action="Articulacion.xhtml"/></center>
                </section>
            </f:view>
        </h:form>
        </center>
    </body>
</html>
