<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">
                <center>                    
                    <h:form>
                        <f:view id="centro"> 
                            <h2 style="font-size: 35px;" >Institucion Educativa</h2>  
                            <section id="formu">                                  
                            <h:panelGrid columns="2">
                                <p:outputLabel value="Identificacion"/>
                                <p:inputText type="number" value="0"/>
                                <p:outputLabel value="Nombre"/>
                                <p:inputText value="0"/>
                                <p:outputLabel value="Direccion"/>
                                <p:inputText value="0"/>
                                <p:outputLabel value="Telefono"/>
                                <p:inputText type="number" value="0"/>
                                <p:outputLabel value="Correo"/>
                                <p:inputText value="0"/>
                                <p:outputLabel value="Coordinador"/>
                                <p:inputText value="0"/>
                                <p:outputLabel value="Estado"/>
                                <p:selectOneMenu id="console" value="" style="width:259px">
                                    <f:selectItem itemLabel="Selecciona uno" itemValue="" />
                                    <f:selectItem itemLabel="Activo" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="Inactivo" itemValue="PS4" />
                                </p:selectOneMenu>
                            </h:panelGrid><br/>
                                <p:commandButton id="but" style="padding: 1px;" value="Registrar" action="Articulacion.xhtml"/>
                            </section>
                        </f:view>
                    </h:form>
                </center>
            </ui:define>
        </ui:composition>

    </body>
</html>
