<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/default.css"/>
        <h:outputStylesheet name="/css/cssLayout.css"/>
        <h:outputStylesheet name="/css/style.css"/>
        
        <title>Articulacion</title>
    </h:head>

    <h:body>
        <div id="todo">
        <div id="top">
            <ui:insert name="top">
                <section id="f">
                    <article>
                        <img id="logo" src="imagenes/Logo.png"/>
                    </article>
                    <article>
                        <h2 id="lider">LIDER DE COORDINACION</h2>
                        <p:button id="but" value="CERRAR SESIÓN" outcome="index.xhtml" icon="ui-icon-power">
                            <f:param name="0" value="20" />
                        </p:button>
                    </article>
                </section>     
            </ui:insert>
        </div>
        <div>          
            <div id="left">
                <ui:insert name="left">
                    <label class="la">ETAPA LECTIVA</label><br/><br/>
                    <ul>
                        <li><img id="icono" src="imagenes/es.png" /><h:link value="Instituion Educativa"  outcome="Institucion.xhtml"/></li>
                        <li><h:link value="Modalidad"  outcome="Modalidad.xhtml"/></li><br/><br/><br/>
                    </ul>
                    <label class="la">ETAPA PRODUCTIVA</label><br/><br/>
                    <ul>
                        <li><h:link value="Bitacora"  outcome="Bitacora.xhtml"/></li>
                        <li><h:link value="Entidad"  outcome="Entidad.xhtml"/></li><br/><br/>
                    </ul>
                    <label class="la">CRONOGRAMA</label><br/><br/><br/>
                    <label class="la"><h:link value="INSTRUCTOR"  outcome="Instructor.xhtml"/></label><br/><br/><br/>
                    <label class="la"><h:link value="APRENDIZ"  outcome="Aprendiz.xhtml"/></label><br/><br/><br/>
                    <label class="la"><h:link value="ACTA"  outcome="Acta.xhtml"/></label><br/><br/><br/>
                </ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">
                <!-- footer -->
    <footer>
        <section>
            <p class="arti">© 2016 Articulacion </p><center><img style="width:110px;" src="imagenes/Logo.png" alt=""/></center><p class="arti">Hecho por Analisis y Desarrollo de sistemas de informacion - 1124806 </p>
        </section>
    </footer> 
<!-- fin footer -->
            </ui:insert>
        </div>
    </h:body>
</html>
