<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">
                                    
                    <h:form>
                        <f:view id="centro"> 
                            <center><h2 style="font-size: 35px;" >Modalidad</h2></center>  
                            <section id="formu" style="margin-left: 45px;">
                                <article class="mod">  
                                    <h3 id="con">TeleInformatica:</h3><br/>
                                    <p:outputLabel>Tecnicos: </p:outputLabel><br/>
                                    <img src="http://icon-icons.com/icons2/290/PNG/512/computer_30842.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link class="mod" value="Mantenimiento de equipos de computo" outcome="Fichas.xhtml"/><br/>	
                                    <img src="https://amc-reg.maa.org/campaign/img/subscribe.jpg" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link value="Gestion de redes de datos" outcome="Fichas.xhtml"/><br/>
                                    <img src="http://es.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211766298.png"  style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link value="Programacion de software" outcome="Fichas.xhtml"/><br/> 	
                                        <p:outputLabel>Tecnologos: </p:outputLabel><br/>
                                        <img src="http://otroblogmas.com/wp-content/uploads/2010/02/netbeans-logo.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link value="Analisis y desarrollo de sistemas de informacion" outcome="Fichas.xhtml"/><br/>
                                        <img src="http://www.buygameraidee.com/main/images/card.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link value="Desarrollo de videojuegos" outcome="Fichas.xhtml"/><br/>
                                        <img src="http://www.cantabriatic.com/wp-content/uploads/2016/06/icono-3_red-300x300.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Mantenimiento de equipos de computo, diseño e instalacion de cableado estructurado"/><br/><br/>
                                </article>	
                                <article class="mod">
                                    <h3 id="con">Logistica:</h3><br/>
                                    <p:outputLabel>Tecnicos: </p:outputLabel><br/>
                                        <img src="http://www.podermail.com/imagen/icono-web.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Comercio internacional"/><br/>
                                        <img src="http://www.magentovalencia.es/wp-content/uploads/2015/02/magento-valencia-logistica-icono.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Logistica empresarial"/><br/>
                                        <img src="http://www.alcad.net/images/icono_producto2.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Desarrollo de operaciones logística en la cadena de abastecimiento"/><br/>
                                        <p:outputLabel>Tecnologos: </p:outputLabel><br/>
                                        <img src="http://www.logistica-central.com.ar/img/iconografia_servicios-01.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Gestion Logistica"/><br/>
                                        <img src="http://www.grisi.com/assets/public/img/iconos/icono-03.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Negociacion internacional"/><br/>	
                                        <img src="http://estatico.tufabricadeventos.com/715_upd_960322/images/1351296536icono_autobus.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Logistica del transporte"/><br/><br/>
                                </article>
                                <article class="mod">
                                    <h3 id="con">Mercadeo:</h3><br/>
                                    <p:outputLabel>Tecnicos: </p:outputLabel><br/>
                                        <img src="http://www.innovaelectric.net/portal/images/main_panel/compra_ini.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Ventas, productos y servicios"/><br/>
                                        <img src="http://www.bim.mx/storage/icono02.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Operaciones comerciales"/><br/>
                                        <img src="https://www.gestorb.com/img/icono_3a.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Comercializacion de productos masivos"/><br/>
                                        <img src="http://www.codigoe-marketing.com/site/dashboard/recursos/images/18764-icono-10.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Gestion comercial y telemercadeo contact center"/><br/>
                                        <p:outputLabel>Tecnologos: </p:outputLabel><br/>
                                        <img src="http://icon-icons.com/icons2/300/PNG/256/flow-market-icon_31853.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Gestion de mercados"/><br/>	
                                        <img src="http://capitaliacolombia.com/wp/wp-content/uploads/2014/10/iconoBancaInversion-300x300.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Direccion de ventas"/><br/>	
                                        <img src="http://kamani.biz/wp-content/uploads/2015/05/%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD.png" style="width: 20px; margin-right: 10px; margin-left: 10px;"/><p:link outcome="Fichas.xhtml" value="Comunicacion comercial"/><br/>
                                </article>	 
                            </section>
                            <br/>
                        </f:view>
                    </h:form>
              
            </ui:define>

        </ui:composition>

    </body>
</html>
